<!-- 
<app-example  name="Obiwan" age="59" strength="88"></app-example> //this is parent tag, so we are passing value over here
<app-example   age="997" strength="99"></app-example> // no name provided, will not render
<hr>
<app-sith-list></app-sith-list>
<hr>
<app-event-handling></app-event-handling>
<hr>
<app-multiple-choice-page></app-multiple-choice-page>
<hr>
<app-counter-page></app-counter-page> --> 
<app-nav-bar></app-nav-bar>
<app-button></app-button>
<app-danger-button></app-danger-button>
<app-safe-button>hello moto</app-safe-button>
<router-outlet>hello world</router-outlet>