<div>
    <ul>
        <li>
            <a routerLink="counter">Counter</a>
        </li>
        <li>
            <a routerLink="event-handling">Event-Handling</a>
        </li>
        <li>
            <a routerLink="multiple-choice">Multiple-Choice</a>
        </li>
        <li>
            <a routerLink="example">Example</a>
        </li>
        <li>
            <a routerLink="sith-list">List</a>
        </li>
        <li>
            <a routerLink="user-info-form">Form</a>
        </li>
        <li>
            <a routerLink="user-info-display">Fetch from API</a>
        </li>
    </ul>
</div>